Source: tree-sitter-cpp
Section: libs
Priority: optional
Maintainer: Dimitry Ishenko <dimitry.ishenko@gmail.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Homepage: https://github.com/tree-sitter/tree-sitter-cpp
Vcs-Browser: https://github.com/dimitry-ishenko-neovim/tree-sitter-cpp
Vcs-Git: https://github.com/dimitry-ishenko-neovim/tree-sitter-cpp.git

Package: libtree-sitter-cpp
Architecture: any
Multi-Arch: same
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: C++ grammar for tree-sitter
 tree-sitter-cpp is a C++ language grammar for tree-sitter. It enables syntax
 highlighting, structural editing, incremental parsing, and code analysis in
 editors and tools.
 .
 This package contains the shared library.

Package: libtree-sitter-cpp-dev
Section: libdevel
Architecture: any
Multi-Arch: foreign
Depends:
 libtree-sitter-cpp (= ${binary:Version})
 ${misc:Depends},
Description: C++ grammar for tree-sitter
 tree-sitter-cpp is a C++ language grammar for tree-sitter. It enables syntax
 highlighting, structural editing, incremental parsing, and code analysis in
 editors and tools.
 .
 This package contains development files.
